---
Checks: "bugprone*,
         cppcoreguidelines*,
         misc*,
         modernize*,
         performance*,
         portability*,
         readability*,
         -cppcoreguidelines-avoid-magic-numbers,
         -cppcoreguidelines-pro-bounds-constant-array-index,
         -cppcoreguidelines-non-private-member-variables-in-classes,
         -modernize-use-trailing-return-type,
         -readability-else-after-return,
         -readability-magic-numbers,
         -readability-identifier-length,
         -misc-non-private-member-variables-in-classes,
         -misc-include-cleaner,
         -cppcoreguidelines-avoid-c-arrays,
         -modernize-avoid-c-arrays,
         -bugprone-assignment-in-if-condition,
         -bugprone-easily-swappable-parameters,
         -readability-named-parameter,
"
CheckOptions:
  readability-function-cognitive-complexity.IgnoreMacros: 'true'
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle:     none
